body{
    background-image: url("https://i.gifer.com/3or4.gif");
    height: 100vh;
    padding:0;
    margin:0;
    width: 99%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background-attachment: fixed; */
   
}
.logo{
  margin-left: -280px;
  width: 47px;
}
.close_mixer{
  float: right;
  width: 30px;
  height: 20px;
  text-align: center;
 text-decoration: none;
}
.volgrp{
  background-color: #000000;
  opacity: 0.7;
}
.row{
  background-color: black;
  opacity: 0.8;

}
.time{
  color: white;
  background-color: #252424;
  margin: 7px;
}
.btnmin button{
  background-color: #000000;
  opacity: 0.7;
 height: 29px;
}
.btnmin button img{
  width: 14px;
}
#mydiv {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
 
  }
  .icon-bar {
    position: relative;
    top: 30%;
    float: right;
margin-right:-8px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  /* Style the icon bar links */
  .icon-bar button {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: rgb(0, 0, 0);
    font-size: 20px;
  }
  
  /* Style the social media icons with color, if you want */
  .icon-bar button:hover {
    background-color: rgb(255, 255, 255);
  }
  
  .mixer {
    background-color: #000000;
    opacity: 0.7;
  }
  
  .scenes_btn {
    background: #000000;
    opacity: 0.7;
  }
  
  .google {
    background: #dd4b39;
    color: rgb(190, 56, 56);
  }
  
  .linkedin {
    background: #007bb5;
    color: white;
  }
  
  .youtube {
    background: #bb0000;
    color: white;
  }
  .scenes {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
    color: #FFFFFF;
    padding:4px;
  }
  .scenes_gif{
height: 200x;
width: 280px;
  }
  #left {
    overflow: hidden;
    text-align: center;
    height:530px;
  }
  #right {
    float: right;
    width: 30px;
    height: 20px;
    text-align: center;
  }
  .scenes a {
     color: #FFFFFF;
     text-decoration: none;
  }
  .scenes a:hover {
     text-decoration:underline;
  }
  
  
  #mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color:black;
    backdrop-filter: blur(9px) ;
    color: #fff;
  }
  input[type=range] {
   
    margin: 13.2px 0;
    background-color: transparent;
    -webkit-appearance: none;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    background: #928483;
    border: 0.7px solid #562425;
    border-radius: 6.2px;
    width: 100%;
    height: 12.6px;
    cursor: pointer;
  }
  input[type=range]::-webkit-slider-thumb {
    margin-top: -1px;
    width: 19px;
    height: 13px;
    background: #731817;
    border: 2.2px solid #000000;
    border-radius: 2px;
    cursor: pointer;
    -webkit-appearance: none;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #9e9191;
  }
  input[type=range]::-moz-range-track {
    background: #928483;
    border: 0.7px solid #562425;
    border-radius: 6.2px;
    width: 100%;
    height: 12.6px;
    cursor: pointer;
  }
  input[type=range]::-moz-range-thumb {
    width: 19px;
    height: 39px;
    background: #731817;
    border: 2.2px solid #000000;
    border-radius: 2px;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 14.2px 0;
    color: transparent;
    width: 100%;
    height: 12.6px;
    cursor: pointer;
  }
  input[type=range]::-ms-fill-lower {
    background: #867776;
    border: 0.7px solid #562425;
    border-radius: 12.4px;
  }
  input[type=range]::-ms-fill-upper {
    background: #928483;
    border: 0.7px solid #562425;
    border-radius: 12.4px;
  }
  input[type=range]::-ms-thumb {
    width: 19px;
    height: 39px;
    background: #731817;
    border: 2.2px solid #000000;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #928483;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #9e9191;
  }
  /*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
  how to remove the virtical space around the range input in IE*/
  @supports (-ms-ime-align:auto) {
    /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
    input[type=range] {
      margin: 0;
      /*Edge starts the margin from the thumb, not the track as other browsers do*/
    }
  }
 